{% extends 'layout.html' %}

{% block title %}
<title>Homepage</title>
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Todo list</h1>
        <div class="todolist">
            <form action="" method="POST">
                <input type="text" name="todo_name" placeholder="Νέα υποχρέωση">
                <button>OK</button>
            </form>
            <ul>
            {% for todo in todos %}
                {% set checked = 'checked' if todo.status == 1 else '' %}
                <li class="default {{'done' if todo.status == 1 else ''}}">
                    {{ todo.name }}
                    <input type="checkbox" data-id="{{ todo.id }}" {{ checked }}> 
                    <!-- <a href="{{ url_for('toggle', id=todo.id) }}">
                        {% if todo.status == 0 %}
                        Ολοκληρώθηκε
                        {% else %}
                        Αναίρεση
                        {%endif%}
                    </a> -->
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

