{% extends 'layout.html' %}

{% block title %}
<title>Homepage</title>
{% endblock %}


{% block body %}
    <h2>Todo list of {{ name }}</h2>
    <form action="" method="POST">
        <input type="text" name="name" placeholder="Όνομα">
        <button>OK</button>
    </form>
    <ul>
    {% for todo in todos %}
        <li>
            {{ todo.name }} | 
            {% if todo.status == 0 %}
            Δεν ολοκληρώθηκε
            {% else %}
            Ολοκληρώθηκε
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}

